.all-product {
  margin: 30px 30px;
}
.all-product-heading {
  font-size: 1.8em;
  letter-spacing: 0.01em;
  text-align: center;
  font-weight: bold;
}
.all-product-view {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)); 
  gap: 10px;
  margin: 30px 30px;
}
.products-view {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}
.product-img {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.addtocart{
  z-index:1;
}

